#news,#more{
   background: #00171F;
}
#news .card{
    background-color:#00171F !important ;
}
#more .card{
    background-color:#00171F !important ;
}

hr{
    color:rgba(0, 0, 0, 0.137);
}
.news-left img{
    height:150px;
}
.news-middle-img img{
height:380px;
object-fit: cover;
transition: all 1s ease-in-out;
}
.news-middle-img{
    position: relative;
    overflow: hidden;
}
.achieve-left-img{
    position: relative;
    overflow: hidden;
}
.news-middle-img .content{
    position: absolute;
    top: 0;
    left:0;
    display: none;
    width:100%;
    height:100%;
    background-color: #bf06039a;
    color: white;
    transition: all 0.5s ease-in-out;
   padding:100px;
   text-align: center;
}
.achieve-left-img .content{
    position: absolute;
    top: 0;
    left:0;
    display: none;
    width:100%;
    height:100%;
    background-color: #bf06039a;
    color: white;
    transition: all 0.5s ease-in-out;
   padding:100px;
   text-align: center;
}
.news-middle-img button,
.achieve-left-img  button{
    color:white !important;
    border-color: white !important;
}

.news-middle-img:hover .content{
   display: block;

}
.achieve-left-img:hover .content{
    display: block;
 
 }
.news-middle-img:hover img{
transform: scale(1.3);

 }
 .achieve-left-img:hover img{
    transform: scale(1.3);
    
     }
.news-right a{
text-decoration: none;
color:#BF0603;
}
.news-right a:hover{
    color:#8D0801;
    }
button {
    color: #BF0603 !important;
    border-color:#BF0603 !important;
}
button:hover{
    color:white !important;
    background-color: #BF0603!important;
}
.achieve-left-content .card{
    height:150px;
    }
    .achieve-left-img img{
        height:350px;
    object-fit: cover;
    object-position: center;
    transition: all 1s ease-in-out;
        }
.achieve-right-content .card{
height:180px;
}
.achieve-right-content  a{
    text-decoration: none;
    color:#BF0603;
}
.achieve-right-content  a:hover{
    color:#8D0801;
}

.achieve-right-content .card img{
    height:100px;
    object-fit: cover;
    object-position: center;
    }
    .cards{
object-fit: cover;
box-sizing: border-box;
    }
    .video-img img{
     object-fit: cover;


    }
    .video-img{
        position: relative;
       
    }
    .video-img .play{
        position:absolute;
        height: 180px;
        top:0;
        left:0;
        display: none;
    }
    .video-img:hover .play{
    display: block;
    }

    .icon{
        position:absolute;
        top:40%;
        left:45%;
        cursor: pointer;
    }
    .videos a{
color:#BF0603;
text-decoration: none;
    }
 .videos a:hover{
color:#8D0801;
    }
    .gradient-underline {
        padding-bottom: 4px;
        position: relative;
        text-decoration: none;
    }
    
    .gradient-underline::after {
        background: #f00;
        background: linear-gradient(to right,  #BF0603 1%, transparent 100%);  
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 20%;
     }
@media(max-width:970px){
    .achieve-right-content .card img{
        height:180px;
        }
        .achieve-right-content .card{
            height:250px;
            }
           
            .content{
                display: none;
            }
            .icon{
                position:absolute;
                top:90px;
                left:150px;
                
            }
          
          
}
@media(max-width:768px){
    .news-left img{
        height:200px;
    }
    .news-middle-img img{
    height:350px;
   
    }
    .achieve-right-content .card img{
        height:250px;
        }
        .achieve-right-content .card{
            height:320px;
            }
            .icon{
             
                top:40%;
                left:43%;
        
            }
            .icon svg{
               height: 40px;
               width:40px;
            }
          
          
}

    